<main class="content contenedor" role="main">

    <h1>{{title}} rudimentaria en Angular</h1>

    <form class="calculadora">

        <div class="num1">
            <label for="num1">Ingrese 1º numero: </label>
            <input type="number" name="num1" id="num1" [(ngModel)]="num1">
        </div>

        <div class="num2">
            <label for="num2">Ingrese 2º numero: </label>
            <input type="number" name="num2" id="num2" [(ngModel)]="num2">
        </div>

        <!-- botones -->
        <div class="botones">
            <input type="submit" value="Sumar +" (click)="sumar()">
            <input type="submit" value="Restar -" (click)="restar()">
            <input type="submit" value="Multiplicar *" (click)="multiplicar()">
            <input type="submit" value="Dividir /" (click)="dividir()">
        </div>


        <div class="resultado">
            <label for="">Resultado: </label>
            <label for="">{{resultado}}</label>
        </div>
    </form>

</main>

<router-outlet></router-outlet>